html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#fullpage {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.section {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}